body {
  font-family: "PT Sans", sans-serif;
  color: #000;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 30px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.visually-hidden {
  display: none;
}

.falanster-button {
  background-image: url("img/f_arrow.png");
  background-size: cover;
}
.top-nav-collapse {
  padding: 0;
}
.main-header__nav {
  background-color: #808080;
  color: #333333;
}

.page-header__intro-message {
  padding-top: 100px;
  background-color: #cccccc;
}
.intro-message__intro-title {
  color: #fff;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 25pt;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
}
.intro-message__affiliate {
  font-size: 11pt;
  margin-top: 0;
  font-weight: 500px;
  font-family: "Ubuntu", "Arial", sans-serif;
  margin-bottom: 30px;
}
.intro-message__title-description {
  font-weight: 400px;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 16pt;
  color: #000;
  margin-bottom: 200px;
}
.intro-message__tag {
  font-weight: 400px;
  font-family: "Ubuntu Mono", "Arial", sans-serif;
  font-size: 10pt;
  color: #ffff00;
}
.page-header__intro-message {
  background-image: url("../img/cc_back_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  margin-bottom: 50px;
  min-height: 100vh;
}
@media (min-width: 480px) {
  .intro-message__intro-title {
    font-size: 30.5pt;
  }
  .intro-message__affiliate {
    font-size: 12pt;
  }
  .intro-message__tag {
    font-size: 12pt;
  }
}
@media (min-width: 720px) {
  .nav__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav__nav-item {
    display: inline-block;
  }
  .nav__left-block {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
  }
  .nav__right-block {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
  }
  .intro-message__logo {
    padding-top: 55px;
  }
  .intro-message__intro-title {
    font-size: 46pt;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
  }
  .intro-message__affiliate {
    font-size: 19pt;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .intro-message__title-container {
    margin: 0 auto;
    width: 200px;
  }
  .intro-message__title-description {
    font-size: 24pt;
    color: #000;
    margin-bottom: 200px;
  }
  .intro-message__tag {
    font-size: 18pt;
    color: #ffff00;
  }
}
.contacts__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19pt;
  color: #333333;
  text-align: center;
  margin-top: 0;
}
.contact-link--facebook {
  padding-left: 20px;
  padding-right: 20px;
}
.contacts__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  padding-bottom: 0;
  font-size: 11pt;
  color: #333333;
}
.contact-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  display: block;
  font-size: 11pt;
  color: #333333;
}
.contacts__text-links {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  padding-bottom: 40px;
  color: #333333;
}
.contacts-container {
  padding-left: 20px;
  padding-right: 20px;
}
/*page-footer*/
.page-footer__contact-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #333333;
  font-size: 13pt;
}
.page-footer {
  background-color: #ccc;
}
.social-image {
  font-size: 2em;
  color: #333333;
}
.footer__copyright-falanster {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 150px;
  color: #333333;
  font-size: 13pt;
  text-decoration: underline;
}
.footer-copyright-image {
  margin-right: 15px;
  display: inline-block;
}
.footer__copyright {
  display: inline-flex;
}
.mail,
.tel {
  color: #333333;
}
.page-footer__image {
  height: 50px;
  background-image: url(../img/spritesheetnew.png);
  background-size: contain;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .contacts__title {
    font-size: 21pt;
  }
  .page-footer__image {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  .contacts__title {
    font-size: 23pt;
  }
  .contact-link--facebook {
    padding: 0;
  }
  .contacts__text {
    font-size: 12.5pt;
  }
  .contact-link {
    font-size: 12.5pt;
  }
  /*page-footer*/
  .social {
    padding-bottom: 40px;
  }
}
.cooperation__hidden-img {
  width: 20%;
  margin-left: 7%;
  margin-right: 1.2%;
}
.cooperation__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  font-size: 19pt;
}
.cooperation__name {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 19pt;
  text-shadow: 1px 1px 2px black;
  color: #ffff00;
  margin-bottom: 0;
}
.cooperation__btn-block {
  padding-left: 25px;
  padding-right: 25px;
}
.cooperation__img {
  display: none;
}
.cooperation__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11pt;
  margin: 0;
}
.cooperation__list {
  list-style: none;
  color: #fff;
  margin: 0;
  padding-top: 0;
}
.cooperation {
  background: #b3b3b3;
}
.cooperation__btn {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 400;
  background: rgba(255, 255, 0, 0.7);
  border: none;
  width: 100%;
  font-size: 15pt;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 50px;
}
.cooperation-block {
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .cooperation__content-container {
    display: flex;
  }
  .cooperation-inner {
    margin-right: 20px;
    margin-left: 10px;
  }
  .cooperation__hidden-block {
    display: none;
  }
  .cooperation__img {
    display: block;
  }
  .cooperation__title {
    font-size: 21pt;
  }
  .cooperation__list {
    padding: 0;
  }
  .cooperation__name {
    text-align: left;
    font-size: 21pt;
  }
  .cooperation__description {
    font-size: 12pt;
    text-align: left;
    padding: 0;
  }
  .cooperation__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16.5pt;
  }
}
@media (min-width: 720px) {
  .cooperation__content-container {
    display: block;
  }
  .cooperation__title {
    font-size: 23pt;
  }
  .cooperation__name {
    font-size: 23pt;
    margin: 0 0 20px 0;
  }
  .cooperation__description {
    font-size: 12.5pt;
  }
  .cooperation__list {
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .cooperation__btn {
    background: rgba(255, 255, 0, 0.7);
    border: none;
    width: 100%;
    font-size: 17pt;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 50px;
  }
}
.presentation__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 19pt;
  color: #333333;
  font-weight: 500;
}
.presentation__text {
  font-size: 11pt;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 65px;
}
.presentation {
  min-height: 835px;
  background: #f2f2f2;
}
.presentation__img {
    height: 500px;
}
.presentation__img img {
  width: 100%;
}
.presentation__img {
  margin-bottom: 65px;
}
@media (min-width: 480px) {
  .presentation__title {
    font-size: 21pt;
  }
  .presentation__text {
    font-size: 12pt;
  }
}
@media (min-width: 720px) {
  .presentation__title {
    font-size: 23pt;
  }
  .presentation__text {
    font-size: 12.5pt;
  }
}
.main__description-text {
  background: rgba(255, 255, 0, 0.7);
  margin-bottom: 70px;
  margin-left: 5px;
  margin-right: 5px;
}
.main__description-text p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  padding-top: 10px;
  font-size: 12.5pt;
}
.main__description-image {
  max-width: 70%;
}
.main__content-image {
  max-width: 70%;
  margin-bottom: 60px;
}
.main___content-text p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: #333333;
}
.main___content-text h2 {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 19pt;
  font-weight: 500;
  color: #333333;
}
.main__image-block {
  padding: 20px 60px;
}
@media (min-width: 480px) {
  .main__description-text {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__description-image {
    max-width: 140%;
    margin: 0;
  }
  .main___content-text p {
    font-size: 12pt;
  }
  .main___content-text h2 {
    font-size: 21pt;
  }
}
@media (min-width: 720px) {
  .reverse-block {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__description-image {
    max-width: 100%;
    margin: 0;
  }
  .main__description-block {
    width: 1000px;
  }
  .main__content-image {
    max-width: 120%;
  }
  .main__description-text {
    background: rgba(255, 255, 0, 0.7);
    margin-bottom: 70px;
    display: flex;
    flex-direction: row-reverse;
  }
  .main__description-text p {
    padding: 10px 20px;
    font-size: 12.5pt;
  }
  .main__image-block {
    padding: 5px 15px;
  }
  .main___content-text p {
    font-size: 12.5pt;
  }
  .main___content-text h2 {
    font-size: 24pt;
  }
  .content-text-block1 {
    margin-bottom: 95px;
  }
  .main___content-text {
    margin-bottom: 55px;
  }
}
.history__image {
  width: 100%;
}

.history__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19pt;
  color: #ffff00;
}
.history {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #333333;
}

.history__list-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #ffff00;
  font-size: 15pt;
}
.history__list {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffff00;
  font-size: 11pt;
}
.history__objectives {
  background: rgba(255, 255, 0, 0.7);
  color: #333333;
  padding: 20px;
  margin-top: 20px;
}
.objectives__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15pt;
  font-weight: 700;
}
.objectives__text {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 11pt;
}
@media (min-width: 480px) {
  .timeline {
    font-size: 34pt;
  }
  .history__title {
    font-size: 21pt;
  }
  .history__list-title {
    font-size: 16pt;
  }
  .history__list {
    font-size: 12pt;
  }
  .objectives__title {
    font-size: 16pt;
  }
  .objectives__text {
    font-size: 12pt;
  }
}
@media (min-width: 720px) {
  .history__inner {
    display: flex;
  }
  .history__image {
    width: 120%;
  }
  .history__title {
    font-size: 23pt;
  }
  .history__list-title {
    font-size: 12.5pt;
  }
  .history__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12.5pt;
  }
  .history__objectives {
    background: rgba(255, 255, 0, 0.7);
    color: #333333;
    padding: 25px 20px 40px 20px;
  }
  .objectives__title {
    font-size: 16pt;
    font-weight: 700;
  }
  .objectives__text {
    font-size: 12.5pt;
  }
}
.sertification__text-block {
  padding-left: 20px;
  padding-right: 20px;
}
.sertification__img {
  width: 70%;
}
.sertification__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19pt;
  text-shadow: #000 1px 0 10px;
  color: #fff;
}
.sertification__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  padding-top: 20px;
  font-size: 11pt;
  margin-bottom: 50px;
}
.sertification__img {
  width: 100%;
}
.sertification {
  background: #b3b3b3;
  color: #fff;
  padding-bottom: 95px;
}
@media (min-width: 480px) {
  .sertification__title {
    font-size: 21pt;
  }
  .sertification__text {
    font-size: 12pt;
  }
}
@media (min-width: 720px) {
  .sertification__img {
    width: 120%;
  }
  .sertification__text {
    padding-top: 20px;
    font-size: 12.5pt;
  }
}
.links-block {
  padding-left: 25px;
  padding-right: 25px;
  background: #f2f2f2;
}
.links__title {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19pt;
  color: #333333;
}
.link__buttons {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  border: none;
  background: rgba(255, 255, 0, 0.7);
  font-size: 18pt;
  color: #333333;
  padding-left: 20px;
  text-align: left;
  width: 100%;
  font-weight: 700;
  margin-bottom: 40px;
}
.links__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 11pt;
  margin-bottom: 35px;
}
.btn__list {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  margin: 0;
  width: 100%;
  text-align: left;
  padding-left: 35px;
  border: none;
  height: 90px;
  font-size: 18pt;
  font-weight: 700;
  margin-bottom: 35px;
}
.link__img {
  width: 100%;
  margin-bottom: 35px;
}
.contacts__btn {
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18pt;
  color: #333333;
  background: rgba(255, 255, 0, 0.7);
  box-shadow: 0 1px 1px 0 #333;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 0 10px 0;
  width: 100%;
}
.cooperation__img-carrot {
  width: 22%;
}
@media (min-width: 480px) {
  .links__title {
    font-size: 21pt;
  }
  .link__buttons {
    font-size: 21pt;
  }
  .links__text {
    font-size: 12pt;
  }
  .btn__list {
    font-size: 13pt;
  }
  .contacts__btn {
    font-size: 20pt;
  }
}
@media (min-width: 720px) {
  .links-block {
    padding-left: 0;
    padding-right: 0;
    background: #f2f2f2;
  }
  .links__title {
    font-size: 23pt;
  }
  .links__text {
    font-size: 11pt;
  }
  .links__contetnt {
    margin-bottom: 50px;
  }
  .links__list {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    color: #666666;
  }
  .btn__list {
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 35px;
    border: none;
    height: 90px;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .link__button-img {
    margin-right: 30px;
  }
  .links-btn {
    background: rgba(255, 255, 0, 0.7);
  }
  .contacts__btn {
    font-size: 20pt;
  }
}

@media (max-width: 424px) {
    .btn__list {
        font-size: 12pt;
    }
    .button-list__triangle {
        display: none;
    }
}
 
.links__list {
    position: relative;
}

.button-list__triangle {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #808080;
    right: 35px;
    top: 35px;
}

.nav-left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
}

.navbar-bars {
    font-size: 24px;
    color: #fff;
    display: block;
    margin-right: 30px;
}


.main-navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 50px;
    background-color: #808080;
    padding-left: 2.5%;
    padding-right: 3%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-right {
    min-height: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.nav-right a {
    color: #F8F8F8;
    margin-right: 15px;
    text-decoration: underline;
}

.nav-list {
    margin-left: -90px;
    list-style: none;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.nav-list a {
    color: #333333;
    font-size: 20px;
    font-family: "Ubuntu", "Arial", sans-serif;
    font-weight: 500;
}

.nav-list a:hover {
    color: #e0e90f;
}

.nav-list a:active {
    color: #ссс;
}

@media (max-width: 425px) {
    .main-navbar {
        position: static;
    }
}

@media (max-width: 665px) {
    .main-navbar {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
    }
    .nav-list {
        margin: 0 auto;
    }
}

.links-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding-left: 35px;
    background-color: #fff;
    padding-top: 20px;
    position: relative;
    top: -35px;
}

.links-menu li {
    margin-bottom: 25px;
}

.links-menu li:last-child {
    margin-bottom: 20px;
}

.links-menu a {
    color: #686868;
    text-decoration: underline;
}

.slide-timeline-1,
.slide-timeline-2,
.slide-timeline-3,
.slide-timeline-4 {
    display: none;
}

#time1:checked ~ .slide-timeline-1 {
    display: block;
}

#time2:checked ~ .slide-timeline-2 {
    display: block;
}

#time3:checked ~ .slide-timeline-3 {
    display: block;
}

#time4:checked ~ .slide-timeline-4 {
    display: block;
}

.timeline-slider input[type="radio"] {
    display: none;
}

.timeline-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 500;
  font-size: 26pt;
  color: #999999;
}

.timeline-line label {
    cursor: pointer;
    transition: 0.5s;
}

.timeline-line label:hover {
    color: silver;
}

#time1:checked ~ .timeline-line label[for="time1"] {
    color: #fff;
}

#time2:checked ~ .timeline-line label[for="time2"] {
    color: #fff;
}

#time3:checked ~ .timeline-line label[for="time3"] {
    color: #fff;
}

#time4:checked ~ .timeline-line label[for="time4"] {
    color: #fff;
}

.contacts-row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.icons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 30%;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}

@media (max-width: 700px) {
    .icons {
        width: 60%;
    }
}

.social a:hover {
    text-decoration: none;
}
