<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Тут грамадскія ініцыятывы знаходзяць дапамогу айці валанцёра, а валанцёры дапамагаюць арганiзацыям або праектам: малююць дызайн, ствараюць сайты, робяць пераклады i г.д.">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Лічбавая майстэрня</title>
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <header class="page-header">
        <nav class="page-header__nav">
            <!-- Burger. It appears only in mobile version -->
            <a class="main-header__bars" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
            <!-- Main navigation -->
            <ul class="nav__list">
                <li><a href="#">меню 1</a></li>
                <li><a href="#">меню 1</a></li>
                <li><a href="#">меню 1</a></li>
                <li><a href="#">меню 1</a></li>
                <li><a href="#">меню 1</a></li>
            </ul>
            <a href="#" class="nav-current"><img src="" width="" height="" alt=""></a>
            <!-- Lang panel -->
            <div class="nav__lang">
                <a href="#" class="lang-active">BY</a>
                <a href="#">EN</a>
            </div>
        </nav>
        <div class="page-header__intro-message">
            <img class="img-responsive logo" src="img/logo_for_site.png" alt="Логотип">
            <h1>creative commons</h1>
            <h3>affiliate in Belarus</h3>
            <p class="page-header__slogan">
                каб было натуральна!
            </p>
            <span class="page-header__tag">#ccbelarus</span>
        </div>
    </header>
    <main>
        <div class="main__description">
            <p class="main__description-text"></p>
        </div>
        <section class="info">
            <div class="info__block info__block--first">
                <div class="info__block-inner">
                    <h2 class="info__block-title">Што такое Creative Commons?</h2>
                    <p class="info__block-text"></p>
                </div>
                <img src="" width="" height="" alt="Што такое Creative Commons?">
            </div>
            <div class="info__block info__block--second">
                <div class="info__block-inner">
                    <h2 class="info__block-title">Чаму гэтым займаецца Фаланстэр?</h2>
                    <p class="info__block-text"></p>
                </div>
                <img src="" width="" height="" alt="Што такое Creative Commons?">
            </div>
        </section>
        <section class="presentation">
            <h2 class="presentation__title"></h2>
            <p class="presentation__description"></p>
            <div class="presentation__present-block">
                <sapn>тут прэзентацыя</span>
            </div>
        </section>
        <section class="offer">
            <div class="offer-item">
                <img src="" width="" height="" alt="Кансультацыi">
                <h3 class="ofeer__title">Кансультацыi</h3>
                <span class="offer__description"></span>
                <ul class="offer__list">
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                </ul>
            </div>
            <div class="offer-item">
                <img src="" width="" height="" alt="Кансультацыi">
                <h3 class="ofeer__title">Кансультацыi</h3>
                <span class="offer__description"></span>
                <ul class="offer__list">
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                </ul>
            </div>
            <div class="offer-item">
                <img src="" width="" height="" alt="Кансультацыi">
                <h3 class="ofeer__title">Кансультацыi</h3>
                <span class="offer__description"></span>
                <ul class="offer__list">
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                    <li class="offer__list-item"></li>
                </ul>
            </div>
            <div class="contact-button">
                <a class="contact-link">
                <span>напiсаць нам</span>
            </a>
            </div>
        </section>
        <section class="history">
            <h2 class="history__title"></h2>
            <div class="history__inner">
                <img src="" width="" height="" alt="2017">
                <div class="history__info">
                    <div class="history__time-line">
                        <button class="time-line__forward"></button>
                        <textarea class="time-line__content"></textarea>
                        <button class="time-line__backward"></button>
                    </div>
                    <ul class="history__list">
                        <li class="history__list-item"></li>
                        <li class="history__list-item"></li>
                        <li class="history__list-item"></li>
                        <li class="history__list-item"></li>
                        <li class="history__list-item"></li>
                        <li class="history__list-item"></li>
                    </ul>
                    <div class="history__description">
                        <h3 class="history__description-title"></h3>
                        <p class="history__description-text"></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sertification">
            <img src="" width="" height="" alt="Сертыфiкацыя">
            <p class="sertification__info"></p>
        </section>
        <section class="download">
            <h2 class="download__title"></h2>
            <div class="download__left-side">
                <h3 class="download__side-title"></h3>
                <img src="" width="" height="" alt="дапаможнiкi">
                <p class="download__text"></p>
            </div>
            <div class="download__right-side">
                <h3 class="download__side-title"></h3>
                <img src="" width="" height="" alt="дапаможнiкi">
                <p class="download__text"></p>
            </div>
            <p class="download__references">
                карысныя спасылкi
                <a class="references__bars" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </p>
        </section>
        <div class="contact-button">
            <a class="contact-button__link">
            </a>
        </div>
        <section class="contacts">
            <div class="contacts__inner">
                <h2 class="contacts__title"></h2>
                <p class="contacts__сhannels">
                    <b></b>
                </p>
                <p class="contacts__сhannels">
                    <b></b>
                </p>
            </div>
            <img src="" width="" height="" alt="">
        </section>
    </main>
    <footer>
        <div class="footer__contacts">
            <span></span>
            <a class="footer__contacts-link link"></a>
            <a class="footer__contacts-link link"></a>
        </div>
        <section class="footer-social">
            <a class="social-btn social-btn-fb" href="#">Facebook</a>
            <a class="social-btn social-btn-vk" href="#">Вконтакте</a>
            <a class="social-btn social-btn-gh" href="#">GitHub</a>
            <a class="social-btn social-btn-yt" href="#">Youtube</a>
            <a class="social-btn social-btn-in" href="#">Linkdln</a>
        </section>
        <section class="copyright">
            <div class="copyright__img">
                <span class="copyright__img"></span>
                <span class="copyright__img"></span>
                <span class="copyright__img"></span>
            </div>
            <span class="copyright__falanster"></span>
        </section>
    </footer>
</body>

</html>
